<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>連絡先一覧</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
<h2>連絡先検索</h2>
	<form th:action="@{/address-search}" method="POST" th:object="${addressSearchForm}">
		<!-- 前回の検索条件がそのまま表示される（されない） -->
		【姓】<br>
	   	<input type="text" th:field="*{lastName}"><br>
		<br>
		【名】<br>
	   	<input type="text" th:field="*{firstName}"><br>
		<br>
		【通名】<br>
	   	<input type="text" th:field="*{commonName}"><br>
		<br>
		【所属】<br>
	   	<input type="text" th:field="*{team}"><br>
		<br>
		【区分】<br>
	   	<input type="text" th:field="*{category1}">
		<br>
		
	   	<input type="submit" value="検索" class="btn"><br>
	   	<br>
	</form>


	<form th:action="@{/show-address-form}" method="POST" th:object="${addressSearchForm}">
		<input type="submit" value="新規登録" class="btn"><br>
	</form>

<div th:if="${addressList} != Null">
<h2>検索結果一覧</h2>

	<table class="address-list">
		<tr>
			<th>詳細</th><th>姓</th><th>名</th><th>通名</th><th>所属</th><th>区分</th>
		</tr>
		<tr th:each="address : ${addressList}"><td>
				<form th:action="@{/address-detail}" method="POST">
					<input type="hidden" name="addressId" th:value="${address.addressId}">
					<input type="hidden" name="lastName" th:value="${address.lastName}">
					<input type="hidden" name="middleName" th:value="${address.middleName}">
					<input type="hidden" name="firstName" th:value="${address.firstName}">
					<input type="hidden" name="maidenName" th:value="${address.maidenName}">
					<input type="hidden" name="commonName" th:value="${address.commonName}">
					<input type="hidden" name="lastNameKana" th:value="${address.lastNameKana}">
					<input type="hidden" name="middleNameKana" th:value="${address.middleNameKana}">
					<input type="hidden" name="firstNameKana" th:value="${address.firstNameKana}">
					<input type="hidden" name="maidenNameKana" th:value="${address.maidenNameKana}">
					<input type="hidden" name="commonNameKana" th:value="${address.commonNameKana}">
					<input type="hidden" name="category1" th:value="${address.category1}">
					<input type="hidden" name="phoneNumber1" th:value="${address.phoneNumber1}">
					<input type="hidden" name="phoneNumber2" th:value="${address.phoneNumber2}">
					<input type="hidden" name="eMail1" th:value="${address.eMail1}">
					<input type="hidden" name="eMail2" th:value="${address.eMail2}">
					<input type="hidden" name="postCode" th:value="${address.postCode}">
					<input type="hidden" name="address" th:value="${address.address}">
					<input type="hidden" name="team" th:value="${address.team}">
					<input type="hidden" name="birthYear" th:value="${address.birthYear}">
					<input type="hidden" name="birthMonth" th:value="${address.birthMonth}">
					<input type="hidden" name="birthDay" th:value="${address.birthDay}">
					<input type="hidden" name="remarks" th:value="${address.remarks}">
<!--					<input type="hidden" name="insertDatetime" th:value="${address.insertDatetime}">-->
<!--					<input type="hidden" name="insertUser" th:value="${address.insertUser}">-->
<!--					<input type="hidden" name="updateDatetime" th:value="${address.updateDatetime}">-->
<!--					<input type="hidden" name="updateUser" th:value="${address.updateUser}">-->
					<input type="submit" value="詳細" class="tbtn">
				</form>
			</td>
			<td th:text="${address.lastName}"></td>
			<td th:text="${address.firstName}"></td>
			<td th:text="${address.commonName}"></td>
			<td th:text="${address.team}"></td>
			<td th:text="${address.category1}"></td>
		</tr>

	</table>

</div>


</body>
</html>