<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<h2>登録</h2>

    <form th:action="@{/regist-address}" method="POST" 
    		th:object="${addressRegistForm}">
    	【姓】<br>
    	<input type="text" th:field="*{lastName}"><br>
    	<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error-msg"></div>
		<br>
    	【名】<br>
    	<input type="text" th:field="*{firstName}"><br>
    	<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error-msg"></div>
		<br>
    	【通名】<br>
    	<input type="text" th:field="*{commonName}" class="commonName" ><br>
    	<div th:if="${#fields.hasErrors('commonName')}" th:errors="*{commonName}" class="error-msg"></div>
		<br>
    	【所属】<br>
    	<input type="text" th:field="*{team}" class="team" ><br>
    	<div th:if="${#fields.hasErrors('team')}" th:errors="*{team}" class="error-msg"></div>
		<br>
    	<input type="submit" value="登録" class="btn">
    </form>
    
    <br>
    <a th:href="@{/top}">トップページに戻る</a>

</body>
</html>
