<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>連絡先登録</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<h2>連絡先登録</h2>
    <form th:action="@{/regist-address}" method="POST" th:object="${addressRegistForm}">
		<div th:if="${#fields.hasErrors()}">
		    <div th:each="err : ${#fields.errors()}" th:text="${err}" class="error-msg"></div>
		</div>
		<table class="regist-table">
			<tr>
				<td class="guide">姓</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{lastName}"><br>
<!--		    		<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">ミドルネーム</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{middleName}"><br>
<!--		    		<div th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">名</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{firstName}"><br>
<!--		    		<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">旧姓</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{maidenName}"><br>
<!--		    		<div th:if="${#fields.hasErrors('maidenName')}" th:errors="*{maidenName}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">通名</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{commonName}"><br>
<!--		    		<div th:if="${#fields.hasErrors('commonName')}" th:errors="*{commonName}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">姓（かな）</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{lastNameKana}"><br>
<!--		    		<div th:if="${#fields.hasErrors('lastNameKana')}" th:errors="*{lastNameKana}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">ミドルネーム（かな）</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{middleNameKana}"><br>
<!--		    		<div th:if="${#fields.hasErrors('middleNameKana')}" th:errors="*{middleNameKana}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">名（かな）</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{firstNameKana}"><br>
<!--		    		<div th:if="${#fields.hasErrors('firstNameKana')}" th:errors="*{firstNameKana}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">旧姓（かな）</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{maidenNameKana}"><br>
<!--		    		<div th:if="${#fields.hasErrors('maidenNameKana')}" th:errors="*{maidenNameKana}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">通名（かな）</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{commonNameKana}"><br>
<!--		    		<div th:if="${#fields.hasErrors('commonNameKana')}" th:errors="*{commonNameKana}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">区分</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{category1}"><br>
<!--		    		<div th:if="${#fields.hasErrors('commonNameKana')}" th:errors="*{commonNameKana}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">電話番号1</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{phoneNumber1}"><br>
<!--		    		<div th:if="${#fields.hasErrors('phoneNumber1')}" th:errors="*{phoneNumber1}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">電話番号2</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{phoneNumber2}"><br>
<!--		    		<div th:if="${#fields.hasErrors('phoneNumber2')}" th:errors="*{phoneNumber2}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">メールアドレス1</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{eMail1}"><br>
<!--		    		<div th:if="${#fields.hasErrors('eMail1')}" th:errors="*{eMail1}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">メールアドレス2</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{eMail2}"><br>
<!--		    		<div th:if="${#fields.hasErrors('eMail2')}" th:errors="*{eMail2}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">郵便番号</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{postCode}"><br>
<!--		    		<div th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">住所</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{address}"><br>
<!--		    		<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">所属</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{team}"><br>
<!--		    		<div th:if="${#fields.hasErrors('team')}" th:errors="*{team}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">生年月日（年）</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{birthYear}"><br>
<!--		    		<div th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">生年月日（月）</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{birthMonth}"><br>
<!--		    		<div th:if="${#fields.hasErrors('birthMonth')}" th:errors="*{birthMonth}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">生年月日（日）</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{birthDay}"><br>
<!--		    		<div th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}" class="error-msg"></div>-->
	    		</td>
			</tr>
			<tr>
				<td class="guide">備考</td>
				<td class="guide">:</td>
				<td>
		    		<input type="text" th:field="*{remarks}"><br>
<!--		    		<div th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}" class="error-msg"></div>-->
	    		</td>
			</tr>
		</table>
		<br>
    	<input type="submit" value="登録" class="btn">
	</form>
    
    <br>
    <a th:href="@{/top}">トップページに戻る</a>

</body>
</html>
